

.content-inicio {
    min-height: 93vh;
    display: flex;
    flex-direction: row;

}

.content-inicio img {
    max-width: 500px;
}

.content-left, .content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50vw;
    min-height: 100%;
}

.content-left {
    
}