
.content-inicio {
    margin-top: 7vh;
    min-height: 93vh;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right top, #2a2a2a, #23323f, #003e49, #00483b, #144e16);
    color: #fff;
}

.btn-scrol {
    position: relative;
    bottom: 25px;
    left: 100;
    right: 100;
    z-index: 10;
    max-width: 35px;
    color: #fff;
    font-size: 50px;
    border: none;
    background: transparent;
}

.content-inicio img {
    max-width: 500px;
}

.content-left, .content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50vw;
    min-height: 100%;
}

.content-left span, .content-left strong{
    color: #1b864b;
}

.content-left span {
    font-size: 35px;
    font-weight: bold;
}

.content-left h2 {
    font-size: 35px;

}

.content-left strong {
    font-size: 45px;
}

.content-left p {
    font-size: 18px;

}
.content-left-botton {
    margin-top: 2em;

}
.content-left-botton a {
    font-size: 45px;
    margin-left: 10px;
}

.principal {
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
}

.linkedin:hover {
    color: #0A66C2;

}

.github:hover {
    color: #ccc;
}

.instagram:hover {
    color: #e1306c;   
}

.whatsapp:hover {
    color: #008000 ;

}

.btnFake {
    position: absolute;
    height: 50px;
    width: 100vw;
    font-size: 45px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnFake a {
    padding: 0;
}

.btnFake a:hover {
    animation: rotates 1.5s alternate;
    color: #1b864b;
}

@keyframes rotates {
    to {
        transform: rotate(0);
    } 
    
    from {
        transform: rotate(360deg);
    }    
}
