.card {
    margin: 20px;
    border-radius: 20px ;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 200px;
    transition: .6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    z-index: 51;
    box-shadow: 10px 10px 15px #4d4d4d;
}

.card button {
    font-size: 25px;
    transition: 1s;
    transform: rotate(0deg);
}

.card h4 {
    margin: 10px;

}

.active-card {
    height: 350px;
}

.active-card button {
    transition: 1s;
    transform: rotate(180deg);

}


.card img {
    width: 140px;
    margin: 0 auto;
}

.card button {
    border: none;
    background-color: transparent;
}

.card p {
    width: 80%;
    font-size: 12px;

} 

.legenda {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    opacity: 1;
}

.legenda-none{
    opacity: 0;
    height: 0;
}