.logo h1 {
    font-size: 25px;
    letter-spacing: 2px;
    margin: 10px 0;
    font-weight: normal;
}

.logo h1:hover {
    text-shadow: 1px 1px 35px #ffffff;  
}

a { 
    color: #ffffff;
}

.content {
    display: flex;
    position: fixed;
    top: 0;
    min-width: 100vw;
    height: 7vh;
    flex-direction: row;
    background: #363636 ;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px #1b864b;
}

.logo  {
    margin-left: 8%;
}

.logo span{
    color: #1b864b;

}

