.apresentacao{
   z-index: 2;
   position: absolute;
   font-family: 'Jost';
   top: 7vh;
   width: 100vw;
   height: 93vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #ffffff;
}

.apresentacao h2 {
    font-size: 70px;
    margin: 20cpx 0 0 0;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.content-left {
    text-align: center;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-left h4 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}


.cargo {
    color:#032229 ;
    background-color: #ffffff;
    min-width: 325px;
    max-width: 400px;
    border-radius: 30px;
    margin: 10px 0;
    box-shadow: 1px 1px 20px rgb(65, 65, 65);

}

.cargo p {
    color:#032229 ;
    padding: 5px 0;
    font-size: 22px;
    letter-spacing: 2px;
}

.icons {
    margin: 50px 0 0 0;

}
.icons a {
    font-size: 40px;
    margin-right: 10px;
    
}

.linkedin:hover {
    color: #0e76a8;
}

.github:hover {
    color: #171515 ;

}

.whatsapp:hover {
    color: #25D366;
}
