.popup-pg {
    background-color: #000000b7;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 55;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.popup-pg-none {
    display: none;
}

.popup {
    background-color: rgb(238, 238, 238);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 3vh;
    border-radius: 2px;
    height: 80px;
    width: 90%;
    padding: 15px;
    text-align: center;
}

.popup p { 
    width: 90%;
    font-size: 11px;
    color: rgb(2, 2, 2);
}

.popup-meio {
    text-align: center;
    min-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-end {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-end button {
    border: none;
    border-radius: 3px;
    padding: 8px;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
    transition: .6s;
}

.popup-end button:hover {
    background-color: #0058b6;

}




@media (max-width: 750px) {
    .popup-pg {
        bottom: 0;
    }

    .popup {
        bottom: 3em;
        min-height: 150px;
        flex-direction: column;

    }

    .popup-end button {
        margin-top: 15px;

    }
}
