.footer {
    color: #cccccc;
    background-color: antiquewhite;
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.footer li {
    list-style: none;
}

.footer-info {
    width: 100%;
    height: 85%;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-um {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    height: 30vh;
}
.footer-um img {
    width: 450px;
}

.footer-mapa, .footer-contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
    height: 20vh;
}
.footer-mapa li, .footer-contato li {
    margin: 5px 0;
}

.footer-contato ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
}

.footer-contato li {
    margin: 0 10px;

}

.footer-contato a {
    font-size: 35px;

}

.footer-mapa a, .footer-contato a {
    color: #cccccc!important;;
}

.footer-mapa h5, .footer-contato h5 {
    font-size: 18px;
    margin-bottom: 20px;

}

.footer-creditos {
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

