.contato{
    min-height: 93vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2.5em 0;
}
.contato form {
    margin-top: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.contato span {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}

.contato-entry {
    border-radius: 5px;
    padding: 0 0 0 10px;
    margin: 10px 2em;
    border:none;
    border-bottom: 2px solid #8a8a8a;
    width: 500px;
    height: 45px;
    background-color: #7a7a7a50;
}

.contato-entry-area {
    border-radius: 5px;
    padding: 10px 0 0 10px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #8a8a8a;
    width: 500px;
    background-color: #7a7a7a50;
    margin-bottom: 2em;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 2px solid #0ca2bd;
    outline: 0;
} 

.btn-contatos {
    cursor: pointer;
    border-radius: 5px;
    background-color: #0ca2bd;
    color: #fff;
    width: 500px;
    height: 45px;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2em;
    transition: 1s;
}

.btn-contatos:hover {
    background-color: #032229 ;

}


@media (max-width: 550px) {
    .contato-entry-area, 
    .contato-entry,
    .btn-contatos {
        width: 400px;

    }

}

@media (max-width: 465px) {

    .contato span{
        font-size: 30px;

    }
    .contato-entry-area, 
    .contato-entry,
    .btn-contatos {
        width: 250px;

    }
}