

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
}

body {
    background: #ccc;

}

:-webkit-scrollbar {
    width: 12px;
  }

/* Estilize a barra de rolagem vertical */
