.corpo {
    position: absolute;
    top: 100vh;
    width: 100vw;
    color: black;
    background-color: #ebebeb;
}


.corpo a {
    color: #032229;

}

.dark {
    background-color: #032229;
    z-index: 25px;
    position: absolute;
    top: 100vh;
    color: #969696;
    width: 100vw;
}

.dark h4 { 
    color: #032229;
}





