nav {
    display: flex;
    margin-right: 5%;
}


nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 10px;
    height: 40px;

    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-sidebar {
    display: none;
    cursor: pointer;
}


@media (max-width: 671px) {
    nav ul {
        background-color: #424242;
        position: absolute;
        height: 98vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        top: 8vh;
        left: 100vh;
        bottom: 0;
        right: 0;
        transition: 1s;
    }

    nav li {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        margin: 0;
        height: 10vh;
        border-bottom: 1px solid #000000;
    }
    
    nav li:hover {
        background: #313131;

    }

    .active {
        left: 0;
    }

    .btn-sidebar {
        display: block;
        background: transparent;
        border: none;
        color: #ffffff;
        font-size: 25px;

    }
  }